.admin {
  &-container {
    display: flex;
  }

  &-content {
    width: 100%;
  }

  &-header {
    height: 40px;
  }

  &-main {
  }
}

.pro-sidebar {
  min-height: 100vh;
}

.btn-toggle {
  cursor: pointer;
  width: 35px;
  height: 35px;
  font-size: 15px;
}
