.homepage {
  &-video {
    position: fixed;
    top: -75px;
    width: 100vw;
  }
  &-content {
    position: relative;
    margin: 236px 0 0 350px;
    padding: 0 20px;
  }
  &-title {
    margin-bottom: 24px;
    max-width: 535px;
    color: #262627;
    font-size: 64px;
    font-weight: 400;
  }
  &-description {
    margin-bottom: 40px;
    max-width: 484px;
    color: #262627;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.4;
  }
  &-button {
    margin-bottom: 24px;
    background-color: #262627;
    border: none;
    border-radius: 4px;
    color: #fcfaf8;
    padding: 12px 24px;
    transition: all 0.2s linear;
    &:hover {
      background-color: #444;
    }
  }
  &-list {
    padding-left: 0;
  }
  &-benefit {
    display: flex;
  }
  &-icon {
    margin-bottom: 0;
    margin-right: 8px;
  }
  &-text {
    font-size: 14px;
    line-height: 1.5;
    opacity: 0.7;
    margin-bottom: 0;
  }
}
